$font-stack:    Roboto, sans-serif;
$font-color: #424242;

$header-shadow-color: rgba(0, 0, 0, 0.26);
$header-title-color: #212121;

$news-more-color: #333;

$main-shadow-color: rgba(0, 0, 0, 0.26);

$link-color: #616161;
$link-hover-color: #212121;

$hero-image: "./../images/dog.jpg";
$article-bg-color: #000;
$article-bg-rgba: rgba(0, 0, 0, 0.7);
$article-font-color: #fff;

$topnews-border-bottom: 1px solid #E0E0E0;
$topnews-link-color: #666;

$scores-th-font-color: #fff;
$scores-th-bg-color: #78909C;
$scores-tr-odd-bg-color: #fff;
$scores-tr-even-bg-color: #eceff1;

$footer-border-top: 1px solid #E0E0E0;
$footer-link-color: #333;
